<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="OCBCContainer">
        <extension type="Interception"/>
        <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="OCBCDemo.Business.DataAccess.OCBCDbContext, OCBCDemo.Business.DataAccess"/>
        <register type="OCBCDemo.Business.Interface.ITransactionService, OCBCDemo.Business.Interface" mapTo="OCBCDemo.Business.Services.TransactionService, OCBCDemo.Business.Services"/>
        <register type="OCBCDemo.Business.Interface.IUserService, OCBCDemo.Business.Interface" mapTo="OCBCDemo.Business.Services.UserService, OCBCDemo.Business.Services">
          <!--配置拦截器，可以在方法执行器或者执行后做一下其他的事情-->
          <interceptor type="InterfaceInterceptor"/>
          <!--<interceptionBehavior type="OCBCDemo.WebApplication.Utility.AOP.LogBeforeBehavior, OCBCDemo.WebApplication"/>
          <interceptionBehavior type="OCBCDemo.WebApplication.Utility.AOP.LogAfterBehavior, OCBCDemo.WebApplication"/>-->
        </register>
      </container>
    </containers>
  </unity>
</configuration>